body {
    font-family: Arial, sans-serif;
}

div.header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}



div.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* adjust as needed */
  background-color: blueviolet;
  color: white;
  text-align: center;
}